@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fond global MonCoachScolaire */
.app-bg {
	background-image: url('../img/background-school-material.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}


